In [12]:
import pandas as pd
import geopy.distance

df = pd.read_csv('airport_iata.csv')

In [13]:
df

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
...,...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,RJX7,"130.270556, 30.784722"

In [93]:
df = df[df['iata_code'].notna()]
df[df['iata_code'].str.len() == 2]

Empty DataFrame
Columns: [ident, type, name, elevation_ft, continent, iso_country, iso_region, municipality, gps_code, iata_code, local_code, coordinates]
Index: []

In [52]:
# df = df.drop(df[df.iata_code == 'NaN'].index, inplace=True)


##### look for value in df
# 45.6696° N, 9.7036° E
def find_airport_coord(x):
#     x = 'BGY'
    item = df.loc[df['iata_code'] == x, 'coordinates'].item()
    coords = item.split(',')
    coords = [float(s) for s in coords]
    coords = (coords[0], coords[1])
    return coords

In [43]:
pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 5.3 MB/s
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [175]:


coords_1 = find_airport_coord('LIS')
coords_2 = find_airport_coord('MXP')

distance = geopy.distance.distance(coords_1, coords_2).km
distance

2116.389151241743

In [66]:
doc = 'boarding-pass-2.pdf'
f = doc.split('.', 1)[1].lower()

In [67]:
f == 'pdf'

True

In [153]:
body = "{\"DATA DEL VIAGGIO / TRAVEL DATE \": \"24 JUL 2021 \", \"ORARIO DI CHIUSURA USCITA DI IMBARCO / GATE CLOSES \": \"10:45 \", \"POSTO NUMERO / SEAT NUMBER \": \"21E \", \"PASSEGGERO / PASSENGER \": \"VICINI, ALESSANDRA Sig.a \", \"NUMERO DEL VOLO / FLIGHT NUMBER \": \"EJU2717 \", \"A / TO \": \"(LIS) Lisbona (T2) \", \"DA / FROM \": \"(MXP) Milano Malpensa (T1) \", \"ORARIO DI PARTENZA DEL VOLO / FLIGHT DEPARTS \": \"11:15 \"}"
body = body.split(" ")

In [109]:
df.loc[df['iata_code'] == 'LIS', 'name'].item()

'Humberto Delgado Airport (Lisbon Portela Airport)'

In [163]:
spec_chars = "\.[]{}()<>*+-=!?^$|/:,\""
new_body = []
for x in body:
#     print(x)
    for c in spec_chars:
        x = x.replace(c, "")
    new_body.append(x.lower())

In [174]:
coords = []
for x in new_body:
    if len(x) == 3 and x.upper() in df.iata_code.values:
#         print(airport)
        airport = df.loc[df['iata_code'] == x.upper(), 'name'].item()
        airport_list = airport.split(" ")
        for name in airport_list:
            for char in spec_chars:
                name = name.replace(char, "")
            print(name)
#             print(new_body)
            if name.lower() in new_body:
                print(name)
                r = find_airport_coord(x.upper())
                print(r)
                if r not in coords:
                    coords.append((r,airport))
                    break
distances = []
if len(coords) == 2:
    distance = geopy.distance.distance(coords[0][0], coords[1][0]).km
    print("Distance: " + distance + "from " + coords[0][1] + "to " + coords[1][1])
elif len(coords) < 2:
    print("we could not find your trip points")
else:
    
    for i in coords:
        for j in coords:
            if i != j:
                distances.append((geopy.distance.distance(coords[i][0], coords[j][0]).km, (coords[i][1], coords[j][1])))
                
                
                
distances

Indira
Gandhi
International
Airport
Inca
Manco
Capac
International
Airport
Indira
Gandhi
International
Airport
Humberto
Delgado
Airport
Lisbon
Portela
Airport
Malpensa
Malpensa
(8.72811, 45.6306)
Indira
Gandhi
International
Airport
we could not find your trip points

[]

In [173]:
coords[0][0][0]

8.72811